header {
  padding: 1rem;
  height: 3rem;
  margin-bottom: 4rem;
  display: flex;
  position: sticky;
  background: none;
}

.Nav {
  margin-left: auto;
}

.NavBtn {
  height: 3rem;
  width: 7rem;
  cursor: pointer;
  background: transparent;
  margin-right: 1rem;


}

/* Fix after designed */
.NavBtnLogin {
  background: #CDD4DA;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 4px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #E2E7EB;
  border-radius: 10px;
  color: #222933;
}

.NavBtnSignUp {
  border: none;
  margin-right: 2rem;
  color: #222933;
  text-decoration-line: underline;
}

.NavBtnHome {
  border: none;
  margin-right: 1rem;
  color: #222933;
}