header {
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--gray);
}

button {
  border: none;
  outline: none;
}

.Nav {
  display: flex;
  padding-right: 1.6rem;
}

.NavBtn {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  color: var(--white);
  cursor: pointer;
  background: transparent;
}

.NavBtnSignUp {
  border: none;
  margin-right: 2rem;
}

.NavBtnHome {
  border: none;
  margin-right: 1rem;
}
