header {
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--gray);
  min-height: 7.8rem;
}

button {
  border: none;
  outline: none;
}

.Nav {
  display: flex;
  padding-right: 1.6rem;
}

.NavBtn {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  color: var(--white);
  cursor: pointer;
  background: transparent;
}

.NavBtnSignUp {
  border: none;
  margin-right: 2rem;
}

.NavBtnHome {
  border: none;
  margin-right: 1rem;
}

/* Fix after designed */
.NavBtnLogin {
  background: #cdd4da;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 4px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #e2e7eb;
  border-radius: 10px;
  color: #222933;
}

.NavBtnSignUp {
  border: none;
  margin-right: 2rem;
}

.NavBtnHome {
  border: none;
  margin-right: 1rem;
}
