header {
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--gray);
  height: 8rem;
  align-items: center;
}

button {
  border: none;
  outline: none;
}

.Nav {
  display: flex;
  padding-right: 1.6rem;
}

.NavBtn {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  color: var(--white);
  cursor: pointer;
}

/* Fix after designed */
.NavBtnLogin {
  background: #cdd4da;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 4px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #e2e7eb;
  border-radius: 10px;
  color: #222933;
}

.NavBtnSignUp {
  border: none;
  margin-right: 2rem;
}

.NavBtnHome {
  border: none;
  margin-right: 1rem;
}

span {
  position: absolute;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 275ms ease;
}

.NavLink {
  position: relative;
  border-radius: 10px;
  color: var(--white);
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
  overflow: hidden;
  padding: 1rem 1.6rem;
}

.NavLink:hover span {
  transform: translateX(0);
}

.NavLink span::before {
  display: inline-block;
  border-radius: 10px;
  content: '\00a0\00a0\00a0'attr(data-content) '\00a0\00a0\00a0';
  background-color: var(--pink-primary);
  color: var(--white);
  transform: translateX(100%);
  transition: transform 275ms ease;
}

.NavLink:hover span::before {
  transform: translateX(0);
}
