:root {
  --main-fg-color: #212a34;
  --secondary-bg-color: #d5dde5;
  --gray-900: #222933;
  --gray-800: #424b59;
  --gray-700: #707a88;
  --gray-600: #949faf;
  --gray-500: #b1becb;
  --gray-400: #cdd4da;
  --gray-300: #d6dde4;
  --gray-200: #e2e7eb;
  --gray-100: #f8f9fa;

  --gray: #8d9ba7;
  --white: #f5f7fa;
  --black: #3f3d56;
  --pink-primary: #e8368f;
  --pink-secondary: #da127d;

  --shadow-closest: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-close: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.15), 0px 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-far: 0px 15px 25px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-furthest: 0px 20px 40px rgba(0, 0, 0, 0.2);
  --shadow-inner: inset 0px 1px 3px rgba(0, 0, 0, 0.12), inset 0px 1px 2px rgba(0, 0, 0, 0.24);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/Proxima\ Nova\ Bold.otf');
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}
