.PathItem {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--black);
  width: 90%;
  min-width: 30rem;
  max-width: 40rem;
  margin: 1.6rem;
  cursor: pointer;
}

.PathView,
.PathHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.6rem 1.6rem;
  background-color: var(--white)
}

.Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.PathView {
  color: var(--gray-800);
  margin-bottom: 2rem;
}

.PathHeader {
  height: auto;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.Button {
  border-radius: 10px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  box-shadow: var(--shadow-closest);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  margin: 1.6rem;
  width: 16rem;
  align-self: center;
}


.Header {
  font-size: 2rem;
  padding: .5rem;
}

.PathHeaderActive {
  background-color: var(--pink-primary);
  color: var(--white);
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
}

.PathHeaderActive > .Header {
  font-weight: bold;
}
