.Login {
  position: absolute;
  top: 40rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 30rem;
  padding-bottom: 3rem;
  background: var(--gray-700);
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.LoginHeader {
  background: var(--pink-primary);
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 4.6rem;
  text-align: center;
}

.LoginHeader h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 4.6rem;
}

.Login form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-top: 6rem;
}

.Login input {
  background: var(--white);
  border-radius: 1rem;
  color: var(--gray-700);
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.9rem;
  width: 19.2rem;
  height: 3.2rem;
  border: none;
}

.Login input:nth-last-of-type(1) {
  margin-top: 3rem;
}

.Login input::placeholder {
  color: var(--gray-700);
  font-size: 1.6rem;
}

.Login button {
  height: 4.6rem;
  margin-top: 3rem;
  width: 10rem;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--black);
  border-radius: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.FormError {
  color: var(-white);
  background-color: var(--black);
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
  width: 100%;
}
