.Background {
  background-color: var(--white);
  z-index: -1;
  position: fixed;
}

.HomeContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 12rem;
  height: calc(100vh - 12rem);
  width: 100vw;
  z-index: 1;
}

.Link > span {
  position: absolute;
  overflow: hidden;
  transform: translateX(-110%);
  transition: transform 275ms ease;
}

.Link {
  background-color: transparent;
  position: relative;
  border-radius: 10px;
  color: var(--pink-primary);
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  line-height: 6rem;
  cursor: pointer;
}

.Link:hover span {
  transform: translateX(0);
  border-radius: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.Link span::before {
  display: inline-block;
  border-radius: 1rem;
  content: '\00a0\00a0\00a0'attr(data-content) '\00a0\00a0\00a0';
  background-color: var(--pink-primary);
  color: var(--white);
  transform: translateX(110%);
  transition: transform 275ms ease;
}

.Link:hover span::before {
  transform: translateX(0);
}

.Animation {
  position: fixed;
  height: 90vh;
  z-index: -1;
  top: 56vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .Animation {
    width: 100vw;
    top: calc(58vh);
  }
}

@media only screen and (min-width: 1920px) {
  .Animation {
    width: 1920px;
  }
}
