.NavList {
  margin: 0;
  padding: 0;
  padding: 1.5rem;
  position: absolute;
  top: 10rem;
  width: 23rem;
}

.IconPlaceholder {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  flex: 4rem 0;
  margin-right: 2rem;
  background-color: var(--gray-700);
  box-shadow: var(--shadow-closest);
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconPlaceholder > i {
  color: var(--gray-300);
  font-size: 2rem;
}


.TextPlaceholder {
  border-radius: 5px;
  height: 3.7rem;
  flex: 1;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  background-color: var(--gray-700);
  box-shadow: var(--shadow-closest);
  color: var(--white);
  padding-top: 0.6rem;
}

.NavListItem {
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
