.CollectionItem {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 1rem;
  background-color: var(--black);
  color: var(--white);
  width: 90%;
  margin: 1rem auto;
  min-width: 30rem;
  max-width: 50rem;
  cursor: pointer;
  overflow: hidden;
}

.CollectionView,
.CollectionHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.CollectionHeader {
  height: auto;
  padding: 2.1rem;
}

.CollectionHeaderText {
  font-weight: bold;
  font-size: 2rem;
}

.CollectionViewText {
  align-self: flex-start;
  padding: 2rem 3.2rem;
  font-weight: normal;
  color: var(--gray-200)

}

.Button {
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  padding: 1.1rem;
  margin: 1.6rem;
  width: 10rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.CollectionViewCategoryText {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: -1rem;
  padding-bottom: 1.6rem;
  color: var(--gray-200)
}
