.CollectionItem {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 1rem;
  background-color: var(--black);
  color: var(--white);
  width: 90%;
  margin: 1rem auto;
  min-width: 300px;
  max-width: 400px;
}

.CollectionView,
.CollectionHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.6rem 1.6rem;
  cursor: pointer;
}

.CollectionView {
  margin: 0 auto;
}

.CollectionHeader {
  height: auto;
  padding: 1rem;
  margin: 0 auto;
}

.Button {
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 1.6rem;
  margin-top: 1.6rem;
  min-width: 160px;
}
