.Container {
  border-radius: 10px;
  display: flex;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6rem;
  padding: 1.6rem 0;
  min-width: 300px;
  max-width: 400px;
}

.Button {
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 1.6rem;
  margin-top: 1.6rem;
  min-width: 160px;
}
