.PathEditorPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PathEditor,
.PathEditor li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.PathEditor {
  position: relative;
  width: 200px;
}

.PathEditor li {
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PathEditorName {
  font-size: 2rem;
  color: var(--gray-900);
}
