.Background {
  background-color: var(--white);
  z-index: -1;
}
.PathEditorPage {
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 7.8rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PathEditor,
.PathEditor li {
  list-style: none;
}

.PathEditor {
  position: relative;
  width: 200px;
}

.PathEditor li {
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PathEditorName {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--white);
}

.AddCollectionButton {
  border-radius: 10px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  color: var(--gray);
  cursor: pointer;
  font-size: 2.4rem;
  margin-top: 5rem;
  padding: 1rem 3.2rem;
}

.AddCollectionButton:hover {
  color: var(--white);
  background-color: var(--gray);
}

.Animation {
  position: fixed;
  z-index: 0;
  height: 30rem;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%, 0);
}
