.AddCollectionPage {
  background-color: var(--gray-700);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 7.8rem);
}

.CategoryText {
  color: var(--white);
  font-size: 1.6rem;
  margin-left: 1.6rem;
  margin-top: 2.4rem;
}

.CollectionView {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}