.AddCollectionPage {
  background-color: var(--gray-700);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 7.8rem);
}

.AddCollectionButtons {
  color: var(--black);
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: space-evenly;
}

.CancelButton {
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 1.6rem;
  min-width: 160px;
}

.AddButton {
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  min-width: 160px;
}

.CategoryText {
  color: var(--white);
  font-size: 1.6rem;
  margin-left: 1.6rem;
  margin-top: 2.4rem;
}

.CollectionView {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
